.task {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2%;

  padding: 1%;

  color: var(--high-emphasis);
  font-size: var(--font-size-small);

  cursor: pointer;
  transition: 0.3s;
}
.task:hover {
  background-color: rgb(50, 50, 50);
  transition: 0.3s ease-in;
}

.done {
  position: relative;
  transition: 2s;
  color: var(--medium-emphasis);
}
.done::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  background-color: var(--medium-emphasis);

  width: 100%;
  height: 10%;

  animation: line 0.5s;
}

.appear {
  animation: appear 0.5s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
