.task {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;

  cursor: pointer;
  transition: 0.3s;
}
.task:hover {
  background-color: rgb(50, 50, 50);
  transition: background-color 50ms ease-in;
}

.taskText {
  position: relative;
  color: var(--high-emphasis);
  flex-grow: 1;
}
.taskText::before {
  content: "";
  position: absolute;
  inset: 50% 0%;

  width: 0%;
  height: 10%;

  background-color: var(--medium-emphasis);
  transition: width 100ms ease-in;
}

.done {
  color: var(--low-emphasis);
}
.done::before {
  width: 100%;
}

.appear {
  animation: appear 100ms;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
}
