.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20% 5%;
}
.button {
  background-color: var(--primary-color);
}
.container {
  background-color: var(--primary-color);
  padding: 2%;
  border-radius: 0.5em;
}
