.container {
  display: flex;
}

.textarea {
  background: none;
  border: none;

  width: fit-content;

  color: var(--secondary-color);
  font-size: calc(1.2 * var(--font-size));
  font-weight: 600;

  cursor: default;
  resize: none;
  transition: 0.3s;
}
.textarea:hover {
  color: var(--accent-color);
  transition: 0.3s;
}
.textarea:focus-visible {
  background-color: var(--primary-color);

  outline: none;
}

.label {
  margin: auto;

  font-size: var(--font-size);
  color: var(--accent-color);
  cursor: pointer;
}
