.container {
  display: flex;
  flex-flow: column nowrap;
  font-size: var(--font-size-small);
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  padding: 0.25em;

  cursor: pointer;
  transition: 0.3s;
}
.list:hover {
  background-color: rgb(var(--primary-color));
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.listName {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active {
  color: rgb(var(--accent-color));
}
.active .notifications {
  color: rgb(var(--accent-color));
}

.tasksCount {
  width: calc(1.5 * var(--font-size-small));
  padding: 5%;
  border-radius: 50%;
  background-color: rgb(var(--primary-color));

  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.active .tasksCount {
  background-color: rgb(var(--accent-color));
  color: var(--high-emphasis);
  transition: background-color 0.5s, color 0.3s;
}
