.groupList {
  font-size: var(--font-size);
  flex-grow: 1;
}

.groupItem {
  display: flex;
  gap: 10%;

  margin-block: 5%;
  padding-left: 5%;

  font-size: var(--font-size-small);
  cursor: pointer;
  transition: 0.3s;
}
.groupItem p:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

.title {
  font-size: var(--font-size);
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);

  height: var(--font-size-small);
  width: var(--font-size-small);
  border-radius: 50%;

  font-size: var(--font-size-small);
}

.bottom > a {
  color: var(--accent-color);
}
