.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 4%;

  background-color: var(--primary-color-transparent);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 1px 1px var(--primary-color-transparent);

  width: 20%;
  height: 100%;
  padding: 1%;
}
.title {
  font-size: var(--font-size-big);
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
