.sidebar {
  display: flex;
  flex-flow: column nowrap;
  gap: 4%;

  width: 20%;
  height: 100%;
  padding-top: 1%;
  background-color: var(--primary-color-transparent);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 1px 1px var(--primary-color-transparent);
}
.title {
  font-size: var(--font-size-big);
  padding: 2% 8%;
}
.subTitle {
  padding: 5% 10%;
}
.listsContainer {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
