.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;

  font-size: var(--font-size-small);
}
.container:hover,
.container:focus {
  background-color: rgb(var(--base-300));
  transition: 50ms;
}

.step {
  flex-grow: 1;
  background: none;
  box-shadow: none;
  font-weight: 600;
}

.step:focus-visible {
  background-color: rgb(var(--base-300));
  cursor: text;
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
}
.newStep {
  color: var(--medium-emphasis);
}
