.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 5%;
  padding: 3%;

  overflow-y: auto;
}
.group {
  min-height: 25%;
}
.flexRow {
  display: flex;
  flex-flow: row nowrap;
  gap: 2%;
}

.headerTask {
  font-size: var(--font-size);
  flex-grow: 1;
}

.deadlineContainer {
  min-height: 15%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);

  box-shadow: var(--dark-shadow);
  padding: 2%;

  font-size: var(--font-size);
  transition: color 0.5s;
}
.active {
  background-color: var(--accent-color);
}
.button:active {
  opacity: 1;
  transition: opacity 0.3s;
  background-color: var(--primary-color);
}

@media (max-width: 576px) {
  .container {
    display: none;
  }
}
