.container {
  display: flex;
  align-content: center;
  width: 100%;
  gap: 0.25em;
}

.input {
  width: 5em;
  flex-grow: 1;
  box-shadow: var(--dark-shadow);
  background-color: rgb(var(--base-300));
  font-weight: bold;
}
.inputButton {
  background-color: rgb(var(--accent-color));
}
