.container {
  display: flex;
  align-items: center;
  gap: 1%;
}

.input {
  flex-grow: 1;
  background-color: var(--primary-color);
  box-shadow: var(--dark-shadow);
}
.button {
  background-color: var(--accent-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}
.button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
