.container {
  display: flex;
  align-items: center;
  gap: 1%;
}

.input,
.button {
  border: none;
  outline: none;
}

.input {
  background-color: var(--primary-color-transparent);

  width: 100%;
  padding: 1%;
  border-radius: 1rem;

  font-size: var(--font-size);
  color: var(--secondary-color);
}
.button {
  background-color: var(--accent-color);

  border-radius: 0.5em;
  padding: 1%;

  font-size: var(--font-size-big);
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  opacity: 0.7;
  transition: 0.3s;
}
