@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --primary-color: rgb(25, 25, 25);
  --secondary-color: rgb(240, 240, 240);
  --accent-color: rgb(118, 159, 205);

  --font-size: clamp(1rem, 1.2em, 2vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  color: var(--secondary-color);
}
#root {
  display: flex;
  gap: 1%;

  height: 100%;
}
