@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --primary-color: rgb(22, 22, 22);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(118, 159, 205);

  --font-size: calc(2rem, 2.5em, 5vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
}
