@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(230, 230, 230);
  --accent-color: rgb(118, 159, 205);
  --primary-color-transparent: rgba(25, 25, 25, 0.7);
  --secondary-color-transparent: rgba(240, 240, 240, 0.7);

  --font-size-small: clamp(1rem, 1em, 1vw);
  --font-size: clamp(1.5rem, 1.5em, 2vw);
  --font-size-big: clamp(2rem, 2em, 3vw);

  --dark-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  color: var(--secondary-color);
}

button,
input,
a {
  background: none;
  outline: none;
  border: none;

  font-size: var(--font-size);
  color: var(--secondary-color);

  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 2%;
  border-radius: 50%;
}
button:hover,
input:hover,
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#root {
  display: flex;
  gap: 1%;

  height: 100%;
}
