.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0.5em 1em;
  gap: 1em;

  height: 100vh;
  width: 20%;

  background-color: var(--base-color-transparent);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 1px 1px var(--base-color-transparent);
}
.listsContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 1em;
}
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
